<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.digipower.mapper.UcasAuthPrivilegeInfoMapper">
  <resultMap id="BaseResultMap" type="com.digipower.entity.UcasAuthPrivilegeInfo">
    <id column="SID" jdbcType="VARCHAR" property="sid" />
    <result column="PRIVILEGE_NAME" jdbcType="VARCHAR" property="privilegeName" />
    <result column="PRIVILEGE_CODE" jdbcType="VARCHAR" property="privilegeCode" />
    <result column="PSID" jdbcType="VARCHAR" property="psid" />
    <result column="URL" jdbcType="VARCHAR" property="url" />
    <result column="ORDER_RANK" jdbcType="INTEGER" property="orderRank" />
    <result column="PRIVILEGE_TYPE" jdbcType="VARCHAR" property="privilegeType" />
    <result column="PRIVILEGE_DESCRIPTION" jdbcType="VARCHAR" property="privilegeDescription" />
    <result column="STATE" jdbcType="VARCHAR" property="state" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="CREATED_DT" jdbcType="DATE" property="createdDt" />
    <result column="VERSION" jdbcType="INTEGER" property="version" />
    <result column="UPDATED_BY" jdbcType="VARCHAR" property="updatedBy" />
    <result column="UPDATED_DT" jdbcType="DATE" property="updatedDt" />
    <result column="ZONE_ORG_CODE" jdbcType="VARCHAR" property="zoneOrgCode" />
    <result column="ICON_NAME" jdbcType="VARCHAR" property="iconName" />
    <result column="VALUE1" jdbcType="VARCHAR" property="value1" />
    <result column="VALUE2" jdbcType="VARCHAR" property="value2" />
    <result column="VALUE3" jdbcType="VARCHAR" property="value3" />
    <result column="DEPTH" jdbcType="INTEGER" property="depth" />
    <result column="DELETE_FLAG" jdbcType="INTEGER" property="deleteFlag" />
    <result column="UNIQUE_SID" jdbcType="VARCHAR" property="uniqueSid" />
  </resultMap>
</mapper>